.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #2a363b;
  /* background-color: var(--background-color); */

  background: radial-gradient(circle farthest-corner at 100px 50px, #87c4f3, #123ae9);

  color: var(--secondary-color);
  box-shadow: 0 4px 8px rgba(2, 0, 0, 2.4);
}