.text {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.field {
    height: 40px;
    display: flex;
    border-radius: 4px;
    background-color: var(--secondary-color);
    color: inherit;
    width: 320px;
    border: 2px solid;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}