.form {
  width: 320px;
  display: flex;
flex-direction: column;
border: 2px solid;
padding: 12px 16px;
border-radius: 6px;
width: 488px;
background: radial-gradient(circle farthest-corner at 100px 50px, #87c4f3, #123ae9);
}
  
  .label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  .text{
    color: var(--secondary-color);
    font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.02em;
      margin-bottom: 16px;
     
  }
  .field{
   
    height: 30px;
  }
  .btn {
    color: var(--secondary-color);
    /* background-color: var(--primary-color); */
    border: 2px solid lightslategray;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    box-shadow: 0 4px 8px rgba(2, 0, 0, 2.4);
    background: radial-gradient(circle farthest-corner at 100px 50px, #87c4f3, #123ae9);
  }
    
  .btn:hover,
  .btn:focus {
    background-color: #9999;
    border: 2px solid gray;
  }
  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .error{
    color: var(--hover-color);
  }