.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    color:var(--secondary-color);
    font-size: 26px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  
  .link.active {
    color: #e84a5f;
  }