.contact{
    display: flex;
  }
  .contactCard {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    border: 2px solid;
    padding: 0px 8px;
    border-radius: 6px;
    justify-content: space-between;
    align-items: flex-start;
    width: 360px;
  }
  
  .contactList {
    display: flex;
    flex-direction: column;
    gap: 6px; 
    padding: 0;
  }
  .contactItem {
    display: flex;
     align-items: center; 
    gap: 8px;
  }
  .btn {
    /* margin-left: 80px; */
    background-color: lightgrey;
    color: black;
    border: 2px solid lightslategray;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .btn:hover,
  .btn:focus {
    background-color: #9999;
    border: 2px solid gray;
  }
  .info {
    display: flex;
    align-items: center;
}
.iconWrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}