.contactList {
  margin-top: 20px;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  gap: 10px;
  
  
  
  
}

.list {
  padding: 0;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
align-items: center;
margin-left: auto;
margin-right: auto;
}