.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-right: 20px;
}

.username {
  font-weight: 700;
  color: var(--secondary-color);
  line-height: 1.07;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  /* margin-right: 72px; */

}

.button {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 2px solid lightslategray;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  box-shadow: 0 4px 8px rgba(2, 0, 0, 2.4);

}