/* .icon { */
    /* display: inline-block; */
    /* width: 1em; */
    /* height: 1em; */
    /* stroke-width: 0; */
    /* stroke: currentColor; */
    /* fill: currentColor; */
  /* } */
  .plus{
    display: flex;
    align-items: baseline;
    justify-content: center;


    gap: 20px;
  }
  .button{ 
    margin: 0;
   justify-content: center;
   align-items: center;
    width: 42px;
    height: 42px;
  }
  .container {
   
   margin-right: auto;
    margin-left: auto;
    
  }
  .heading {
    
    
    font-size: 32px;
  }