/* .icon { */
    /* display: inline-block; */
    /* width: 1em; */
    /* height: 1em; */
    /* stroke-width: 0; */
    /* stroke: currentColor; */
    /* fill: currentColor; */
  /* } */
  .plus{
    display: flex;
    align-items: baseline;
    justify-content: center;


    gap: 20px;
  }
  
    .button {
      color: var(--secondary-color);
      background-color: var(--primary-color);
      border: 2px solid lightslategray;
      padding: 10px 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      box-shadow: 0 4px 8px rgba(2, 0, 0, 2.4);
    
    }
  
  .container {
   
   margin-right: auto;
    margin-left: auto;
    
  }
  .heading {
    
    
    font-size: 32px;
  }